/* common styles will added here */

body {
  font-family: "Open Sans", sans-serif;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
}

/* nav styles */
/* primary color */
.orange {
  color: #fd6e0a;

  font-size: 45px;

  font-weight: 800;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style */
.header {
  background: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.bnr-greeting {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 0;
}
.bnr-heading {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
}
.bnr-description {
  color: #757575;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.download {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #fd6e0a;
  padding: 19px 17px 18px 51px;
  border: 0;
}
.contact {
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700px;
  text-align: center;
  padding: 18px 19px 18px 58px;
  box-flex-group: #fff8f3;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  background: #fff8f3;
}
.profile {
  width: 584px;
  height: 676px;
}
/* main section style */
.section-title {
  color: var #181818;
  text-align: center;

  font-size: 35px;

  font-weight: 700;
}
.section-describtion {
  text-align: center;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  color: #757575;
}
/* about me styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
}
/* main content style */
main{
   
 height: 550px;
    margin:0 230px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    
}
.info-description{
    font-weight: 800;
}
.what-i-do-description{
    padding:30px  ;
    text-align: center;
}
#section-h3{
    margin-top: 100px;
    padding-top: 150px;
 
}
/* what i do related style */
.skill-container{
    display: flex;
}
.skill-description{


}
.skill{
    padding: 30px;
    gap:24px;
}
.resume-container{
    display: flex;
    gap: 50px;
}

.resume-set{
    margin:400px;
}
.resume-column-2{
    padding-left: 100px;
}
.download-cv{
    text-align: center;
}
.btn-download{
     
    color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
}
